:root {
  --grid-size: 1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: wheat;
}

button,
input {
  cursor: pointer;
}

header {
  padding: 30px;
}

h1 {
  text-align: center;
  font-size: 48px;
  color: teal;
}

main {
  display: flex;
  /* align-items: center; */
  /* justify-content: flex-start; */
  gap: 100px;
  max-width: 1100px;
  margin: 0 auto;
}

button {
  padding: 8px;
  background-color: white;
  border: 1px solid teal;
  color: teal;
  border-radius: 25px;
  font-size: 16px;
}

button:hover {
  transform: scale(1.2);
}

.dimensions {
  font-size: 24px;
}

.gridSizeSlider {
  margin-top: -22px;
}

.active {
  background-color: teal;
  border: 1px solid teal;
  color: white;
}

.settings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 200px;
}

.grid-container {
  margin: 0 auto;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-rows: repeat(var(--grid-size), 1fr);
  grid-template-columns: repeat(var(--grid-size), 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.grid-square {
  background: white;
  border: black 1px solid;
  margin: 0;
  padding-top: 100%;
}
